body {
  background-color: rgb(218, 158, 134);
  font-family: "Passions Conflict", cursive;
}
h1 {
  color: cornflowerblue;
}
h3 {
  color: cornflowerblue;
}
#aboutme {
  font-size: 25px;
}
hr {
  height: 5px;
  background-color: rgb(226, 43, 150);
  border: none;
}
#stories {
  font-size: 35px;
}

ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
